<!DOCTYPE html>
<html>
<head>
  <title>Sonatask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '/bower_components/angular/angular.min.js' %>
  <%= javascript_include_tag '/bower_components/underscore/underscore-min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
